/* Custom Media Queries */
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) { 

	/* .nav>li{
		background-color:#000;
		padding: 0px 5px;
	}
	#content .content-holder {
		margin-left: -6px;
		margin-top: -56px;
	}	
	.footer-box2 {
		margin-left: 10px;
	}
	.footer-box2 .footer-nav li {
		padding:0px;
	}
	.footer-box2 .footer-nav {
		margin-top:3px;
	}
	.menu-links{
		margin-top:0px;
	}
	.navbar-default{
		margin-left:0px;
	} */
}

/* XS */
@media only screen and (min-width : 480px) {
	/* .navbar-default .navbar-nav>li>a{
		font-size: 16;
	}
	.navbar-default{
		margin-left:0px;
	}
	#menu{
		background: url(../images/mobile-menubg.png) repeat-x;
		
	}
	#content{
		  padding-top: 0px;
	}
	
	#banner{
		background: none;
	}
	.footer-box2 .footer-nav{
		margin-top:13px;
	}
	
	.nav>li{
		background-color:#000;
		padding: 0px 5px;
	}	
	.footer-box2 {
		margin-left: 16px;
	}
	#content .content-holder {
		margin-left: 17px;
		margin-top: 0px;
	}
	.bk-app h2,.left-box h2{
		font-size:20px;
	}
	.freq-ask h4{
		font-size:18px;
	}
	.footer-box2 .footer-nav li {
		padding:6px;
	}
	.footer-box2 .footer-nav {
		margin-top:24px;
	}
	.menu-links{
		margin-top:0px;
	} */
/* 	.pbi{
	float:left !important;
} */
}



/* SM */
@media only screen and (min-width : 768px) {
	/* 	.navbar-default .navbar-nav>li>a{
	font-size: 8px;
} */
	/* .menu-links{
		margin-top:0px;
	}
	
	.navbar-default{
		margin-left:20px;
	}
	#menu{
		background: url(../images/menunavbg.png) no-repeat center center;
		background-size: 100% 100%;
	}
	
	#content{
		  padding-top: 0px;
		    min-width: auto;
	}
	
	#banner{
		background: none;
	}
	.footer-box2 .footer-nav{
		margin-top:13px;
	}
	
	.nav>li{
		background-color:transparent;
		padding: 0px 0px;
	}
	.footer-box2 {
		margin-left: 16px;
	}
	#content .content-holder {
		margin-left: 17px;
		margin-top: 0px;
	}
	.bk-app h2,.left-box h2{
		font-size:20px;
	}
	.freq-ask h4{
		font-size:18px;
	}
	.footer-box2 .footer-nav li {
		padding:6px;
	}
	.footer-box2 .footer-nav {
		margin-top:24px;
	} */
	/* .pbi{
		float:left !important;
	} */
}


/* MD */
@media only screen and (min-width : 992px){
	#menu .header-menu{
		margin-left:auto;
	}
	.navbar-default{
		margin-left:20px;
	}
	.navbar-default .navbar-nav>li>a{
		font-size: 13px;
	}
	#menu{
		background: url(../images/menunavbg.png) no-repeat center center;
		background-size: 100% 100%;
	}
	#content{
		 padding-top: 0px;
		   min-width: auto;
		     min-width: auto;
	}
	#banner{
		background: url(../images/bannerbg.png) no-repeat 36px 18px;
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
	}
	
	.nav>li{
		background-color:transparent;
		padding: 0px 0px;
		
	}
	.footer-box2 .footer-nav{
		margin-top:24px;
	}
	.footer-box2 {
		margin-left: 45px;
	}
	#content .content-holder {
		margin-left: 40px;
		margin-top: 0px;
	}
	.bk-app h2,.left-box h2{
		font-size:20px;
	}

	.footer-box2 .footer-nav li {
		padding:6px;
	}
	.footer-box2 .footer-nav{
		margin-top:24px;
	}
	.freq-ask h4{
		font-size:18px;
	}
	.menu-links{
		margin-top:0px;
	}
/* 	.pbi{
	float:right !important;
} */
	
}

/* LG */
@media only screen and (min-width : 1200px){
	#menu .header-menu{
		margin-left:26px;
	}
	.navbar-default .navbar-nav>li>a{
		font-size: 19px;
	}
	
	.navbar-default{
		margin-left:20px;
	}
	.nav>li{
		padding: 0px 5px;
		
	}
	
	
	#content{
		  padding-top: 12px;
		    min-width: 780px;
	}
	
	#banner{
		background: url(../images/bannerbg.png) no-repeat top left;
		/* background: url(../images/bannerbg.png) no-repeat 36px 18px;
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		max-width: 100%;
		  display: block;
		  margin: 0 auto;
		  float: none;
		  padding-left: 0;
		  padding-right: 0; */
	}
	
	#menu{
		background: url(../images/menunavbg.png) no-repeat top left;
		/* background-size: 100% 100%; */
	}
	.footer-box2 .footer-nav{
		margin-top:24px;
	}
	
	.footer-box2 {
		margin-left: 45px;
	}
	#content .content-holder {
		margin-left: 40px;
		margin-top: 0px;
	}
	.bk-app h2, .left-box h2{
		font-size:24px;
	}
	.footer-box2 .footer-nav li {
		padding:6px;
	}
	.footer-box2 .footer-nav{
		margin-top:24px;
	}
	.freq-ask h4{
		font-size:20px;
	}
	
	.container {
	  width: 1360px;
	}
	.menu-links{
		margin-top:0px;
	}
/* 	.pbi{
	float:right !important;
} */
	
}

@media only screen and (min-width: 90.063em) and (max-width: 120em) {

} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media(max-width: 996px) {
	#menu {
		background: url('../images/menunavbg800.png') no-repeat top center;
		background-size: 100%;
	}

	.menu-links {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.navbar-nav {
		float: none;
		text-align: center;
	}
	
	.navbar-nav>li {
	  float: none;
	  display: inline-block;
	} 

	#menu .header-menu {
		padding-right: 0;
		padding-left: 0; 
	}
	.navbar-default .navbar-nav>li {
		margin-right: 10px;
		margin-left: 10px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 16px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		padding: 0;
	}

	#menu .header-menu {
		margin-right: 0;
		margin-left: 0;
	}
}


@media(max-width: 992px) {
	.mc-container {
		overflow: hidden;
	}

	.breaker {
		display: none;
	}

	.container {
		width:100%; 
		padding-right: 15px;
		padding-left: 15px;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.header-inner {
		padding-left: 15px;
		padding-right: 15px;

	}
}

@media(max-width: 800px) {

	
	.container {
		padding-right: 0;
		padding-left: 0;
	}
	

	#banner {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	

	#banner .app-label {
		width: 450px;
	}

	#banner .app-number {
		width: 202px;
	}

	#header .logo {
		display: block !important;
		top: 10px;
		left: 10px;
	}

	#menu {
		background: url('../images/menunavbg800.png') no-repeat top center;
		background-size: initial;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		padding: 0;
	}

	#menu .header-menu {
	  margin-top: 0px;
	  width: 100%;
	  padding: 0;
	}
	.navbar-nav {
		padding-left: 10px;
	}
	.navbar-nav>li {
		margin:0px 12px;
	}

	.navbar-default .navbar-nav>li>a {
 	 padding-top: 5px;
	}
	
	#content .content-holder {
		margin-right: 0;
		margin-left: 0;
	}

	#sidebar {
		  width: 35%;
		  min-width: 0;
		  padding-left: 5px;
		  padding-right: 5px;
	}

	#content {
		width: 65%;
		  padding-left: 10px;
		  padding-right: 10px;
	}

	.footer-box1.slant,
	.footer-box2.slant {
		transform: none;
		-webkit-transform: none;
		transform-origin: none;
		-webkit-transform-origin: none;
	}

	.footer-box1 {
		background-color: #fff;
		background: url('../images/footerbox800.png') no-repeat top left;
		box-shadow: none;
		-webkit-box-shadow: none;
		height: 75px;
		margin-top: 30px;
	}

	.footer-box2 {
		background-color:transparent; 
		border: 0;
		height: auto;
		width: 100%;
	}

	.footer-box2 .footer-nav 
	{
	  transform: none;
	  padding-left: 0;
	  margin-left: 22px;
	  margin-top: 10px;
	  margin-bottom: 40px;
	}

	.footer-box2 .footer-nav li + li {
		margin-left: 2px;
	}

	.footer-icons {
		display: block;float: none;
		text-align: center;
		padding-top: 40px !important
	}

	#fixed-box {
		display: none;
	}


	.row > div {
		padding: 0;
	}

	.c2-rm {
		margin-top: 0;
	}
	
	.footer-text {
		padding-left: 45px;
		padding-right: 15px;
		
	}

	.address {
		float: left;
		width: 50%;
	}

	.copyright {
		float: left;
		width: 50%;
		text-align: right;
	}

	.copyright > .pbi {
		margin: 0;
	}

	#content .content-holder h2.content-title2 {
		margin-bottom: 0;
		font-size: 30px;
	}

	.breaker {
		display: none;
	}
}


@media(max-width: 783px) {
	#menu {
		background-position: top left
	}

	.footer-box2 .footer-nav li + li {
	  margin-left: 0;
	}
}

.footer-box-address {
	display: none;
}
@media(max-width: 767px) {
	
	body {
		  background-position: top center;
  		-webkit-background-size: auto;
		  -moz-background-size: auto;
		  -o-background-size: auto;
	}
	.header-inner {
		position: relative;
	}
	#menu {
		background: url('../images/menunavbg600.png') no-repeat top left;
		background-size: 100%;
	}

	#menu .logo {
		display: none;
	}

	#mobile-menu {
		float: left;
		width: 100%;
		font-size: 0;
	}

	#sidebar {
		display: none;
	}

	#content	 {
		width: 100%;
	}
	.navbar-toggle {
		min-height: 64px;
	}
	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
	  margin: 0;
	  padding: 0;
	}

	.navbar-nav {
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.navbar-nav>li {
		margin: 0;
		border: 0;
		display: block;
		width: 100%;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.navbar-nav>li>.dropdown-menu>li {
		padding:0;
	}

	.dropdown-menu>li>a {
		font-weight: normal;
		padding: 5px 0 5px 0;
		text-align: center;
	}


	.dropdown-submenu .dropdown-menu {
		padding: 5px 0 5px 0;
		text-align: center;
		left: 0;
		position: relative;
		top: 0;
		width: 100%;
	}


	#menu li.active > a {
		border: 0;
		color: #000;
	}

	#menu li > a:hover {
	  color: #000 !important;
	  border: 0;
	}

	.navbar-nav>li:hover > a {
		color: #000 !important;
	}
	.navbar-nav>li {
	  margin: 0;
	  background-color: #00A9A7;
	}

	#menu li:hover > a,
	.navbar-nav>li>.dropdown-menu>li {
		border: 0;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}

	.navbar-nav> li >.dropdown-menu {
		background: transparent;
		padding: 0px;
		font-size: 16px;
		border: 0;
		position: relative;
		top: 0;
		margin: 0;
		width: 100%;
		box-shadow: none;
		-webkit-box-shadow: none;
	}

	.dropdown-menu>li>a:focus, 
	.dropdown-menu>li>a:hover {
		background-color: transparent;
		color: #01a8a0;
	}

	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
		background-color: transparent;
		border: 0;
	}

	.dropdown-submenu:hover>.dropdown-menu > li {
		border: 0;
		width: 100%;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, 
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #fff;
	}

	.navbar-default {
		margin-bottom: 0;
	}

	.wrapper {margin: 0;}

	#banner-slide {
		margin: 0;
	}

	#header .logo {
		position: relative;
		display: block;
		float: none !important;
		margin: 0px auto 30px;
		left: 0;


	}

	.footer-box2 {
		display: none;
	}

	.footer-box-address {
		display: block;
		text-align: center;
		font-size: 12px;
		color: #fff;
		padding-top: 23px;
	}

	.footer-text .address {
	  float: left;
	  width: 100%;
	  text-align: center;
	  padding: 10px;
	}
	.ft1 {
		display: none;
	}

	.ft2 {
		float: none;
	}

	.footer-text .copyright {
		width: 100%;
		padding: 10px;
		text-align: center;
	}

	.appointment {
		float: none !important;
		overflow-x: hidden;
		height: 56px;
	}

	#header .app-label {
	  width: 96%;
	  margin-left: 50px;
	}

	#header .app-number {
		text-align: left;
		transform-origin: 0 110px;
		-webkit-transform-origin: 0 110px;
		width: 53%;
	}
}

@media(max-width: 600px) {
	#menu {
		background: url('../images/menunavbg600.png') no-repeat top left;
		background-size: initial;
	}

	.navbar-toggle {
	  min-height: 53px;
	}
}

@media(max-width: 480px) {
	.menu-top-container {
		display: block;
	}

	#mobile-menu {
		min-height: 42px;
	}
	
	.menu-top-container #menu {
		min-height: 59px;
	}

	.menu-bottom-container {
		display: none;
	}
	#menu {
		background: url('../images/menunavbg600.png') no-repeat top left;
		background-size: 100%;
	}
	.appointment {
		display: none;
	}
	.appointment.bottom {
	display: block;
	z-index: 1;
	}
	#header .app-label {
	  width: 96%;
	  margin-left: 30px;
	  padding-left: 10px;
	  padding-right: 10px;
	}

	

	#content .content-holder {
		margin-top: 0;
		text-align: center;
	}

	#content .content-holder img {
		float: none !important;
		display: block;
		margin: 10px auto !important;
	}


}

@media(max-width: 350px) {

	.menu-top-container {
		display: none;
	}


	.menu-bottom-container {
		display: block;
	}
	
	#mobile-menu {
	  min-height: 52px;
	}
	#menu {
		background: url('../images/menunavbg320.png') no-repeat top left;
		background-size: 100%;
	}

	.appointment {
		display: block;
	}
	.appointment.bottom {
		display: none;
	}

	#prev, #next {
		max-width: 80%;
	}

	.appointment >div>div {
		font-size: 16px;
	}

	.app-number div {
		font-size: 16px !important;
	}
	#header .app-number {
		margin-top: -20px;
	}

	.appointment {
		height: 48px;
	}
}

@media(max-width: 320px) { 
#menu {
		background: url('../images/menunavbg320.png') no-repeat top left;
		background-size: initial;
	}
}