@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Oswald);


@font-face {
    font-family: 'helvetica_condensedmedium';
    src: url('../fonts/Helvetica-Condensed-webfont.eot');
    src: url('../fonts/Helvetica-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helvetica-Condensed-webfont.woff2') format('woff2'),
         url('../fonts/Helvetica-Condensed-webfont.woff') format('woff'),
         url('../fonts/Helvetica-Condensed-webfont.ttf') format('truetype'),
         url('../fonts/Helvetica-Condensed-webfont.svg#helvetica_condensedmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_condensed_blackRg';
    src: url('../fonts/Helvetica-Condensed-Black-webfont.eot');
    src: url('../fonts/Helvetica-Condensed-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helvetica-Condensed-Black-webfont.woff2') format('woff2'),
         url('../fonts/Helvetica-Condensed-Black-webfont.woff') format('woff'),
         url('../fonts/Helvetica-Condensed-Black-webfont.ttf') format('truetype'),
         url('../fonts/Helvetica-Condensed-Black-webfont.svg#helvetica_condensed_blackRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'league_gothiccondensed_italic';
    src: url('../fonts/LeagueGothic-CondensedItalic-webfont.eot');
    src: url('../fonts/LeagueGothic-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothic-CondensedItalic-webfont.woff2') format('woff2'),
         url('../fonts/LeagueGothic-CondensedItalic-webfont.woff') format('woff'),
         url('../fonts/LeagueGothic-CondensedItalic-webfont.ttf') format('truetype'),
         url('../fonts/LeagueGothic-CondensedItalic-webfont.svg#league_gothiccondensed_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'league_gothicCnRg';
    src: url('../fonts/LeagueGothic-CondensedRegular-webfont.eot');
    src: url('../fonts/LeagueGothic-CondensedRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothic-CondensedRegular-webfont.woff2') format('woff2'),
         url('../fonts/LeagueGothic-CondensedRegular-webfont.woff') format('woff'),
         url('../fonts/LeagueGothic-CondensedRegular-webfont.ttf') format('truetype'),
         url('../fonts/LeagueGothic-CondensedRegular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'league_gothicitalic';
    src: url('../fonts/LeagueGothic-Italic-webfont.eot');
    src: url('../fonts/LeagueGothic-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothic-Italic-webfont.woff2') format('woff2'),
         url('../fonts/LeagueGothic-Italic-webfont.woff') format('woff'),
         url('../fonts/LeagueGothic-Italic-webfont.ttf') format('truetype'),
         url('../fonts/LeagueGothic-Italic-webfont.svg#league_gothicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/LeagueGothic-Regular-webfont.eot');
    src: url('../fonts/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothic-Regular-webfont.woff2') format('woff2'),
         url('../fonts/LeagueGothic-Regular-webfont.woff') format('woff'),
         url('../fonts/LeagueGothic-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LeagueGothic-Regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'Franklin Gothic Book';
font-style: normal;
font-weight: normal;
src: local('Franklin Gothic Book'), url('../fonts/FRABK.woff') format('woff');
}


@font-face {
font-family: 'Franklin Gothic Book Italic';
font-style: normal;
font-weight: normal;
src: local('Franklin Gothic Book Italic'), url('../fonts/FRABKIT.woff') format('woff');
}
body{
	background: url(../images/cloudbg.png) no-repeat center top scroll; 
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	font-family: Arial;
	overflow-x:hidden;
}
#header{

}
#banner{
	background: url(../images/bannerbg.png) no-repeat 36px 18px;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	padding:0px 30px;
	margin-bottom: -7px;
}
#banner-slide{
	/* margin-bottom: 6px;
	margin-bottom: -35px; */
	max-width: 1060px;
	display: block;
	margin: 0 auto;
	padding: 0;

} 

#header .logo{
	position:absolute;
	z-index:999;
}
.appointment{
	z-index: 999;
	position: relative;
}

.header-inner {
	position: absolute;
	max-width: 1040px;
	width: 100%;
	min-height: 150px;
	margin: 0 auto;
	right: 0;
	left: 0;
}
#header .app-label{
	background-color:#00a8a8;
	color:#fff;
	border:solid 3px #fff;
	border-top:none;
	padding: 5px 30px;
  width: 500px;
	font-size:21px;
}
#header .app-number{
	background-color:#fb5f2c;
	color:#fff;
	border:solid 3px #fff;
	padding:2px 20px;
	font-size:21px;
	width: 230px;
	float: right;
	margin: -38px 14px;
	text-align:center;
}
.app-number div{
	font-size:28px !important;
}

.menu-top-container {
	display: none;
}
#menu{
	
	min-height:80px;
	z-index: 999;
	position: relative;
}
#menu li.active > a{
	border-top:4px solid #01a8a0;
	margin-top: -4px;
}
#banner img{
	margin:0px auto;
}
#menu .header-menu{
	margin-top:0px;
}



#mobile-menu{
	color:#fff;
	background: transparent;
	float: right;
	margin-left: 20px;
	border: none;
}

#sidebar{
	/* min-height:400px;
	min-width:274px;
	margin-bottom:100px; */
	float: left;
	max-width: 273px;
	width: 30%;
}
#sidebar .bk-app {
	padding-left: 20px;
}

/* .c2-rm{
  margin-top: -28px;
} */

.quote-intro {
	padding: 22px 0;
}
#sidebar .left-box{
	background-color:#e0e8eb;
	min-height:200px;
	padding-bottom:20px;
}
.left-box .box-title{
	background:url('../images/boxtitlebg2.jpg') no-repeat;
	background-size:100%;
}

.left-box .box-title2{
	background-color:#00a8a8;
	background:url('../images/boxtitlebg.jpg') no-repeat;
	background-size:100%;
}


.left-box .left-box-content{
	padding: 0px 20px 13px 20px;
	width:100%;
}
.sq-img{
	margin-top:-7px;
	width:40px;
}
.hc{
font-family: 'helvetica_condensedmedium' !important;
font-size:13px !important;
color:#01a8a0 !important;
}
.hcb{
	margin-top:11px !important;
}


.readmore-border {
  width: 115px;
  height: 15px;
  background: #00aaaa;
  float: left;
  margin-top: 6px;
  margin-right: 5px;
}

.quote-border {
	margin-top: 3px;
}
.read-more a, .read-more{
	font-family: 'league_gothicregular';
	text-decoration:none;
	color:#404040;
	  font-size: 19px;
	position:relative;
z-index:99999;	
}
.left-box h2{
	color:#49a3a3;
	text-transform:uppercase;
	font-size:26px;
	 font-family: 'helvetica_condensedmedium';
}
.left-box h4{
	font-size:14px;
	border-bottom: solid #8d9296 1px;
	padding-bottom: 10px;
	font-family: Arial;
	line-height: 22px;
}
.left-box2 h4{
	margin-bottom:2px;
	color:#353535;
	font-size: 20px;
	  font-family: Franklin Gothic Book;
}
.bk-app h2{
	color:#e94d1a;
	text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	text-transform: uppercase;
	font-size:28px;
	font-family: 'Franklin Gothic Book';
}
.left-box .box-title{
	height: 33px;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Franklin Gothic Book';
}
.left-box2 .box-title h2{
	font-family: 'Franklin Gothic Book';	
	text-transform: uppercase;
	font-size:32px;
	margin-bottom: 20px;
}
.box-title .clk-label{
	padding-top: 7px;
	margin-left: 28px;
	  font-size: 16px;
}
.clk-label a, .clk-label a:visited{
	text-decoration:none;
	color:#fff;
}

.left-box .box-title img{
	margin-top: -90px;
	margin-right: 10px;
}
.left-box .box-title img:hover{
	-ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
}	

.left-box2{
	border-bottom: solid 1px #9c9c9c;
	padding-left:20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-shadow: 0px 0px 0px rgba(150, 150, 150, 1);
}
.freq-ask{
	margin-left:20px;
}
.freq-ask h4{
	color: #e94d1a;
	text-transform: uppercase;
	font-family: 'helvetica_condensedmedium';
	font-size: 24px;
}
.freq-ask img{
	margin-top: -63px;
	margin-right: -3px;	
}

#content{
	/* min-height:400px;
	padding-top:36px; */
	width: 70%;
	float: left;
	max-width: 700px;
}

#content .content-holder{
	margin-left: 40px;
	font-family: Arial;
	  line-height: 22px;
  font-size: 14px;
}
#content .content-holder h2.content-title{
	margin-left: 10px;
	font-family: 'helvetica_condensed_blackRg';
	  margin-bottom: 20px;
}
#content .content-holder h2.content-title2{
	margin-left: 10px;
	font-family: open sans;
	  margin-bottom: 20px;
	  font-size: 35px;
}
.content-main{
	background: url(../images/bodybg.png) no-repeat 0px 20px;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	padding-top: 79px;
    margin-top: -85px;

}
.wrapper{
	max-width:1060px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 34px;
	margin-bottom: 34px;
}

.wrapper:after {
	content: " ";
	clear: both;
	display: block;
}
.sec{
	color:#249484;
	font-family: 'Franklin Gothic Book';
}
.fg{
	font-family: 'Franklin Gothic Book' !important;
}
.bigger-text{
	font-size: 24px;
	margin-top: 72px;
	margin-bottom: 20px;
}
.footer-box1{
	width:100%;
	height:60px;
	background-color:#00a8a8;
	border:solid 2px #fff;
	-webkit-box-shadow: -7px 2px 19px -4px rgba(0,0,0,0.22);
-moz-box-shadow: -7px 2px 19px -4px rgba(0,0,0,0.22);
box-shadow: -7px 2px 19px -4px rgba(0,0,0,0.22);
}
.footer-box2{
	width:93%;
	height:70px;
	background-color:#fb5f2c;
	border:solid 2px #fff;
	margin-top: -50px;
	margin-left: 45px;
}
.footer-box2 .footer-nav{
	margin-top:24px;
	transform: skewX(15deg);
	margin-left: 32px;
}
.footer-box2 .footer-nav li{
	display:inline;
	padding: 6px;
}

.footer-box2 .footer-nav li + li {
	margin-left: 15px;
}
.footer-box2 .footer-nav li a{
	color:#fff;
	text-transform: uppercase;
	font-family: 'helvetica_condensedmedium', serif;
}
.footer-text{
	font-size: 12px;
	color: #000;
	margin: 0 auto;
  	max-width: 1060px;
  	line-height: 22px;
  	padding-bottom: 20px;
}


.footer-text .address {
	float: left;
	width: 50%;
}

.footer-text .copyright {
	float: left;
	width: 50%;
	text-align: right;
}


.ft1{
	float:left;
	border-right:solid 1px #b6b6be;
	padding-right:20px;
	margin-right:20px;
}
.ft2{
	float:left;
}
.footer-logo{
	position: relative;
	margin: -85px 44px 0px 0px;
	transform: skewX(15deg);
}
.footer-icons{
	margin-top:10px;
}

.slant {
    content: '';  
    transform: skewX(-15deg);
    transform-origin: top;
    -webkit-transform: skewX(-15deg);
    -webkit-transform-origin: 0 0;
	border-left:solid 2px #fff;
}

.helv{
	font-family: 'Helvetica';
}

.appointment.bottom {
	display: none;
}
.appointment >div>div{
	transform: skewX(15deg);
  transform-origin: top;
  -webkit-transform: skewX(15deg);
  -webkit-transform-origin: 0 0;
  font-family: 'helvetica_condensedmedium';
    font-size: 22px;
}

.cc-broad{
	font-size: 16px;
	color: #f6552b;
	font-family: 'Franklin Gothic Book';
	border-bottom: solid #8d9296 1px;
	padding-bottom: 10px;
	margin-bottom: 14px;
}

#fixed-box{
	position:fixed;
	top: 28%;
	right:0px;
	height:244px;
	width:46px;
	background:url('../images/fixedbg.png') no-repeat;
	z-index:99999;
	cursor:pointer;
}
.fixed-bg-inner{
	background:url('../images/fixedbg-inner.png') no-repeat !important;
}

#fixed-box:hover{
	background:url('../images/fixedhbg.png') no-repeat !important;  
}
.rotate a, .rotate a:visited  {
	text-decoration:none;
	color:#fff;
}
.rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	width: 244px;
	color:#fff;
	z-inder:999999;
	position:relative;
	margin-left: -100px;
	margin-top: 73px;
	font-size:21px;
	font-family: 'Franklin Gothic Book';
}
#prev{
	cursor:pointer;
	margin-top: 16px;
	
}
#next{
	cursor:pointer;
	margin-top: 16px;
}
.pg{
	text-align:center;
}
.hc-slide >div{
	width:100%;
}

/*Ovveride bootstrap defaut style*/
.navbar-default{
	background-color: transparent;
	border: none;
	font-family: 'helvetica_condensedmedium';
	margin-left:20px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	color:#fff;
	background-color:transparent;
 }
.navbar-default .navbar-nav>li>a {
	padding-top:7px;
	padding-bottom: 5px;
	font-size:16px;
	color:#fff;

	padding-left: 0;
	padding-right: 0;
	
}
.navbar-nav>li{
	/* margin-left:0px; */
	margin: 0px 16px 0px 16px;
	border-top:4px solid transparent;
}


.navbar-nav>li:hover > a{
	border-top:4px solid #01a8a0;
	color:#01a8a0;
	margin-top: -4px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color:#fff;
}
 .navbar-nav>li>a:hover{
	color:#01a8a0 !important;
 }
.navbar-nav>li>.dropdown-menu{
  background: #01a8a0;
  padding: 0px;
  min-width: 210px;
  font-size: 16px;
  border: 0;
}
.navbar-nav{
	margin-top:0px;
}
.navbar-nav>li>.dropdown-menu>li{
	  border-bottom: solid #008d8c 1px;
	    padding: 1px 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	margin-top:0px;
	border-color:transparent;
}
.dropdown-menu>li>a{
	color:#fff;
	font-weight:bold;
	padding: 6px 10px 8px 10px;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background:transparent;
	color:#fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{


	  background: #f05523;
  color: #fff;
  border-bottom: #1bdbd9 1px solid;
  border-top: #1bdbd9 1px solid;
}

.dropdown-submenu>a:after {
	border-width: 0;
}
 ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}








/* drop down menu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius:0;
    border-radius: 0;
	padding:0px;
	background:#01a8a0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
  top: -1px;
  margin-left: 0;
  border: 0;
  box-shadow: none;
}

.dropdown-submenu:hover>.dropdown-menu > li {
	min-width: 210px;
	border-bottom: solid #008d8c 1px; 
}

/* .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
 */
.dropdown-submenu:hover>a:after {
    
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


